.clickable{
    cursor: pointer
  }
  
.goodMatch{
    color: green
  }
  
.averageMatch{
    color: orange
  }

.availableIngredients{
    color: green
}

.missingIngredients{
    color: red
}

.availableIngredientsTitle, .missingIngredientsTitle{
    font-weight:bold
}