.clickable{
    cursor: pointer
  }
  
.goodMatch{
    color: green
  }
  
.averageMatch{
    color: orange
  }

.availableIngredients{
    color: #0c7c1a
}

.missingIngredients{
    color: #e51d1d
}

.availableIngredientsTitle, .missingIngredientsTitle{
    font-weight:bold
}

p{
  line-height: 1.2
}