body {
  margin: 0;
  padding: 0;
  font-family:  "PT Sans", "Helvetica", "Lato", "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-img-top{
    height: 200px;
    object-fit:cover
}